body {
	font-size: 100%;
}

/* article rules */
.aheader {
	/* sizing on the page */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 80%;
	margin-left: 15%;
	margin-right: 30%;
	
	/* text */
	font-family: Garamond, Times New Roman, serif;
	font-size: 2.5em;
	font-weight: bolder;
}

.acontent {
	/* sizing on the page */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	
	/* text */
	font-family: 'Oxygen', Helvetica, sans-serif;
	font-size: 1.5em;
	text-align: justify;
}

/*  */